.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
}
form {
	font-family: sans-serif;
	max-width: 343px;
	max-height: 407px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	padding-left: 41px;
	padding-right: 49px;
	background-color: #fff;
}
.addCustomTitle {
	font-size: 18px;
	margin: 0;
	margin-top: 28px;
	text-align: left;
	margin-left: -14px;
	margin-bottom: 50px;
}